*.stack-work/
*.cabal
.cidfile
index.js
lambda
qmuli-apigw-lambda-dynamodb
qmuli-apigw-lambda-s3
qmuli-simple-s3-copy
qmuli-cognito
qmuli-fold-s3-content
qmuli-cw-events
qmuli-stream-s3-objects
*.zip
TAGS
